<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
</head>
<body>
    <a href="{{ url_for('logout') }}">ログアウト</a>
    <h2>{{ current_user.Name }}</h2>
    <div class="reserv">
          <h2><a href="{{ url_for('route') }}">予約</a></h2>

    </div>
   <div class="reservation_list">
          <h2>予約一覧</h2>
          {% if reservation_list == [] %}
               <p>予約はありません</p>
          {% else %}
               <div class="reservation">
                    <table>
                         <tr>
                              <th>予約日・時間</th>
                              <th>乗車駅</th>
                              <th>降車駅</th>
                              <th>編集・削除</th>
                         </tr>
                         {% for i in reservation_list %}
                         <tr>
                              <th>
                                   {{ i.Arrive_Datetime }}
                              </th>
                              <th>
                                   {{ i.Departure_Station_Id }}
                              </th>
                              <th>
                                   
                                   {{ i.Arrive_Station_Id }}
                              </th>
                              <th>
                                   <button data-id="{{i.id}}" class="reserveBtn" >編集・削除</button>
                              </th>
                         </tr>
                         {% endfor %}
                    </table>
</div> <!-- reservation -->
</div> <!-- reservation_list -->
          {% endif %}
   <div class="history">
        <h2>予約履歴</h2>
        <table>
          <tr>
               <th>予約日・時間</th>
               <th>乗車駅</th>
               <th>降車駅</th>
               <th>編集・削除</th>
          </tr>
          {% for i in reservation_history_list %}
          <tr>
               <th>
                    {{ i.Arrive_Datetime }}
               </th>
               <th>
                    {{ i.Departure_Station_Id }}
                    
               </th>
               <th>
                    {{ i.Arrive_Station_Id }}
               </th>
          </tr>
          {% endfor %}
        </table>
   </div>
</body>
</html>
