<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>root</title>
</head>

<body>
    <header>
        <div>
            <ul>
                <li>
                    <button id="btn1kai" class="btn btn-1">一回</button>
                </li>
                <li>
                    <button id="btnOfuku" class="btn btn-2">往復</button>
                </li>
                <li>
                    <button id="btnTeiki" class="btn btn-3">定期</button>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="wrap">
            <form id="form1" method="post" action="/submit_form1" style="display:none;">
                <p>出発1：<input type="text" name="departure" id="departure" value="{{reserveData.departureStationId}}"></p>
                <p>到着：<input type="text" name="arrive" id="arrive" value="{{reserveData.arriveStationId}}"></p>
                <p>日付：<input type="date" name="day" id="day" value="{{reserveData.departureDate}}"></p>
                <p>時間：<input type="time" name="time" id="time" value="{{reserveData.departureTime}}"></p>
                <button type="submit" class="btn btn-1">編集</button>
            </form>
            <form id="form2" method="post" action="/submit_form2" style="display:none;">
                <p>出発2：<input type="text" name="departure" id="departure"></p>
                <p>到着：<input type="text" name="arrive" id="arrive"></p>
                <p>日付：<input type="date" name="day" id="day"></p>
                <p>時間：<input type="time" name="time" id="time"></p>
                <button type="submit" class="btn btn-2">検索</button>
            </form>
            <form id="form3" method="post" action="/submit_form3" style="display:none;">
                <p>出発3：<input type="text" name="departure" id="departure"></p>
                <p>到着：<input type="text" name="arrive" id="arrive"></p>
                <p>日付：<input type="date" name="day" id="day"></p>
                <p>時間：<input type="time" name="time" id="time"></p>
                <button type="submit" class="btn btn-3">検索</button>
            </form>
        </div>
    </main>
</body>

</html>