<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/root.css">
    <title>root</title>
</head>
<body>
    <header>
        <div>
        <ul>
            <li>
                <a href="">一回</a>
            </li>
            <li>
                <a href="">往復</a>
            </li>
            <li>
                <a href="">定期</a>
            </li>
        </ul>
        </div>
    </header>
<main>
<div class="wrap">
<h1>出発：</h1>
<h1>○○駅</h1>
</div>

<div class="wrap">
    <h1>到着：</h1>
    <h1>○○駅</h1>
    </div>

<h1>出発時間</h1>

<div class="wrap">
    <h1>日付</h1>
    <h1>7月7日</h1>
    </div>

    <div class="wrap">
        <h1>時間：</h1>
        <h1>7時7分</h1>
        </div>

</main>
    
</body>
</html>