<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/root.css">
    <title>root</title>
</head>
<body>
    <header>
        <div>
        <ul>
            <li>
                <a href="">一回</a>
            </li>
            <li>
                <a href="">往復</a>
            </li>
            <li>
                <a href="">定期</a>
            </li>
        </ul>
        </div>
    </header>
<main>
<div class="wrap">
    <form action="">
        <p>出発：<input type="text" name="departure" id="departure"></p>
        <p>到着：<input type="text" name="arrive" id="arrive"></p>
        <p>日付：<input type="date" name="day" id="day"></p>
        <p>時間：<input type="time" name="time" id="time"></p>
        <button>検索</button>
    </form>
</div>

</main>
    
</body>
</html>