<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索結果</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/serch.css') }}">
    <script src="{{ url_for('static',filename='js/yoyaku.js') }}"></script>
</head>
<body>
    <h1>検索結果</h1>
    <div class="rootwrap">
    <div class="root">
        <h2>ルート1</h2>
    </div>
    <div class="station">
    <h2>12:00 我孫子駅</h2>
    <h2>出発 3番ホーム</h2>

    <h2>13:00 新宿駅</h2>
    <h2>到着 4番ホーム</h2>
</div>
</div>
<div class="rootwrap">
    <div class="root">
        <h2>ルート2</h2>
    </div>
    <div class="station">
    <h2>12:00 柏駅</h2>
    <h2>出発 3番ホーム</h2>

    <h2>13:00 渋谷駅</h2>
    <h2>到着 4番ホーム</h2>
</div>
</div>
<div class="rootwrap">
    <div class="root">
        <h2>ルート3</h2>
    </div>
    <div class="station">
    <h2>12:00 柏駅</h2>
    <h2>出発 3番ホーム</h2>

    <h2>13:00 渋谷駅</h2>
    <h2>到着 4番ホーム</h2>
</div>
</div>
</body>
</html>
