<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
    <h2>駅登録</h2>
    <form method="POST">
        <div>
            <label for="name">駅名:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="id">駅ID:</label>
            <input type="id" id="id" name="id" required>
        </div>
        <div>
            <label for="password">パスワード:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">新規作成</button>
    </form>
</body>

</html>