<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/mypage.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staffpage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
    <title>mypage</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('staffChat') }}">チャット機能</a></li>
                <li><a href="{{ url_for('staffPage') }}">マイページ</a></li>
                <li><a href="{{ url_for('logout') }}">ログアウト</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
     
<div>
    <h2>{{ current_user.Name }} 職員ページ</h2>
</div>
    <div class="reservation_list">
        <h2 class="under">予約一覧</h2>
        {% if reserve_list == [] %}
            <p>予約はありません</p>
        {% else %}
            <div class="reservation">
                <table>
                    <thead>
                        <tr>
                            <th>予約日時</th>
                            <th>お客様氏名</th>
                            <th>編集・削除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in reserve_list %}
                        <tr>
                            <td>{{ i.Departure_Datetime }}</td>
                            <td>{{ i.reserve_User_Name }}</td>
                            <td><button data-id="{{i.id}}" class="reserveBtn">編集・削除</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    <div class="history">
        <h2 class="under">予約履歴</h2>
        {% if reserve_history_list == [] %}
            <p>予約はありません</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>予約日時</th>
                        <th>お客様氏名</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in reserve_history_list %}
                    <tr>
                        <td>{{ i.Departure_Datetime }}</td>
                        <td>{{ i.reserve_User_Name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="chat">
        <a href="{{ url_for('staffChatList') }}"><button>チャットへ</button></a>

    </div>
</div>
</body>

</html>