<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staffpage.css') }}">
    <title>mypage</title>
</head>

<body>
    <div class="container">
        <button class="logout-btn"> 
    <a href="{{ url_for('logout') }}">ログアウト</a>
</button>
<div>
    <h2>{{ current_user.Name }} 職員ページ</h2>
</div>
    <div class="reservation_list">
        <h2>予約一覧</h2>
        <table>
        </table>
    </div> <!-- reservation_list -->
    <div class="chat">
        <a href="{{ url_for('staffChatList') }}"><button>チャットへ</button></a>

    </div>
</div>
</body>

</html>