<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stafflogin.css') }}">
    <title>Staff Login</title>
</head>
<body>
    <div class="container">
    <h2>職員ログイン</h2>
    <div>
        <form method="POST">
            <div class="input-wrap">
                <label for="stationid">駅ID:</label>
                <input type="id" id="stationid" name="stationid" required>
            </div>
            <div class="input-wrap">
                <label for="password">パスワード:</label>
                <input type="password" id="password" name="password" required>
            </div>
           <div class="button-wrap">
            <button type="submit" class="login-btn">ログイン</button>
        </div>
        </form>
    </div>
</div>
</body>
</html>