<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stationReserveInfo.css">
    <title>予約詳細</title>
</head>
<body>
    <header>
        <div class="cancel">
            <a href="">キャンセル</a>


        </div>

        <div>
        <ul>
            <li>
                <a href="">一回</a>
            </li>
            <li>
                <a href="">往復</a>
            </li>
            <li>
                <a href="">定期</a>
            </li>
        </ul>
        </div>
    </header>
<main>
    <h1>予約日時</h1>
<div class="wrap">
<h1>出発：</h1>
<h1>○○駅</h1>
</div>

<div class="wrap">
    <h1>乗り換え1：</h1>
    <h1>○○駅</h1>
    </div>

    <div class="wrap">
        <h1>乗り換え2</h1>
        <h1>○○駅</h1>
        </div>
    

<div class="wrap">
    <h1>到着：</h1>
    <h1>○○駅</h1>
    </div>


<div class="wrapper">
    <h1>備考欄</h1>
    <input type="text" id="name" name="name"  size="80%" />

</div>

<h1><a href="">チャットへ</a></h1>

<div class="inputwrap">
  
<input type="text" id="name" name="name"  size="3px" />
<h1>号車の</h1>
<input type="text" id="name" name="name"  size="3px" />
<h1>番ドアに</h1>
</div>

<div class="buttonwrap">
<h1><a>乗車</a></h1>
</div>
<div class="buttonwrap">
<h1><a>降車完了</a></h1>
</div>
</main>
    
</body>
</html>