<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/Transportation facilities.css">
    <title>Transportation facilities</title>
</head>
<body>
    <header>
        <div>
        <ul>
            <li>
                <a href="">一回</a>
            </li>
            <li>
                <a href="">往復</a>
            </li>
            <li>
                <a href="">定期</a>
            </li>
        </ul>
        </div>
    </header>
<main>
<h1>予約日時</h1>
<div class="wrap">
<h1>出発：</h1>
<h1>○○駅</h1>
</div>

<div class="wrap">
    <h1>到着：</h1>
    <h1>○○駅</h1>
    </div>
    <div class="root">
        <ul>
            <li>
                <h1>ルート1</h1>
            </li>
            <li>
                <h1>ルート2</h1>
            </li>
            <li>
                <h1>ルート3</h1>
            </li>
        </ul>
        </div>



</main>
    
</body>
</html>