<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.flexdatalist.min.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery.flexdatalist.min.js') }}"></script>
    
    <title>予約フォーム</title>
</head>

<body>
    <div class="container">
        <!-- <div class="button-group">
            <button class="selectable" data-group="single">一回</button>
            <button class="selectable" data-group="single">往復</button>
            <button class="selectable">定期</button>
        </div> -->
        
        <form id="form2" method="post" action="/submit_edit">
            <p>出発：<input type='text'
                class="flexdatalist"
                class="departure"
                data-data="{{ url_for('static', filename='json/stationData.json')}}"
                name="departure"
                id="departure"
                value="{{ reserveData.departureStationName }}">
            </p>
            <div id="transfer-container"></div>
            <button type="button" id="add-transfer">経由＋</button>
            <p>到着：<input type='text'
                class="flexdatalist"
                class="arrive"
                data-data="{{ url_for('static', filename='json/stationData.json')}}"
                name="arrive"
                id="arrive"
                value="{{ reserveData.arriveStationName }}">
            </p>
            <p>日付：<input type="date" name="day" id="day" value="{{ reserveData.departureDate }}"></p>
            <p>時間：<input type="time" name="time" id="time" value="{{ reserveData.departureTime }}"></p>
            <input type="hidden" name="reserveId" value="{{ reserveData.id }}">
            <button type="submit" class="btn edit">編集</button>
            <button onclick="submitRemove()" class="btn remove">削除</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/yoyaku.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/reserveinfo.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/datalist.js') }}"></script>
</body>

</html>