<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
    
    <title>予約フォーム</title>
</head>

<body>
    <div class="container">
        <div class="button-group">
            <button class="selectable" data-group="single">一回</button>
            <button class="selectable" data-group="single">往復</button>
            <button class="selectable">定期</button>
        </div>
        
        <form id="form1" method="post" action="/submit_form1">
            <p>出発：<input type="text" name="departure" id="departure"></p>
            <div id="transfer-container"></div>
            <button type="button" id="add-transfer">経由＋</button>
            <p>到着：<input type="text" name="arrive" id="arrive"></p>
            <p>日付：<input type="date" name="day" id="day"></p>
            <p>時間：<input type="time" name="time" id="time"></p>
            <button type="submit" class="btn btn-1">編集</button>
            <button type="" class="btn remove">削除</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/yoyaku.js') }}" defer></script>
</body>

</html>