<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザチャットリスト</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/chatlist.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/chatlist.js') }}"></script>

</head>

<body>
    <div class="container">
        <div class="header"><h2>ユーザチャット機能</h2></div>
        <div class="list-header"><h3>利用リスト</h3></div>
        <div class="chatlist">    
            {% if chatlist == [] %}
                    <p>利用者はいません</p>
            {% else %}
                <ul class="user-list">
                    {% for i in chatlist %}
                        <li data-id="{{i.id}}" class="reserveBtn">
                            <p class="user-icon"></p>
                            <p class="user-name">{{ i.Room_Name}}</p>
                            
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>

</html>