<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャットインターフェース</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userchat.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="{{ url_for('mypage') }}">マイページ</a></li>
                <li><a href="{{ url_for('chatList') }}">チャット機能</a></li>
                <li><a href="{{ url_for('logout') }}">ログアウト</a></li>
                <h2>{{ current_user.Name }}</h2>
            </ul>
        </nav>
    </header>
    <h1>{{ User_Chat.Room_Name }}</h1>
    <div id="chat-box"></div>
    <input type="text" id="message-input" placeholder="メッセージを入力">
    <button id="send-button" onclick="sendMessage()">送信</button>
    
    <script src="{{ url_for('static', filename='js/userchat.js') }}"></script>
</body>

</html>
