<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャットインターフェース</title>
    
    
</head>


<body>
    <h1>Chat App</h1>
    <div id="chat-box" style="border:1px solid #000; height:300px; overflow-y:scroll;"></div>
    <input type="text" id="message-input" placeholder="Enter your message">
    <button id="send-button">Send</button>
    
    <script src="{{ url_for('static', filename='js/userchat.js') }}"></script>
</body>



</html>