@charset "UTF-8";

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a,
.logout-btn a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
}

.header h2 {
    margin: 0;
}


a{
    text-decoration: none;
    color: black;
}
/* header ul{
    display: flex;
    justify-content: end;
    list-style: none;
    text-decoration: none;
}
header ul li{
    margin-right: 60px;
    background-color:lawngreen;
    height: auto;
    border-radius: 6px;
    width: 10%;
    text-align: center;
} */

header ul li:hover{
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.wrap{
    display: flex;
    justify-content:left;
    padding-left: 10%;
}
.wrap h1{
    padding-left: 5%;
}