@charset "UTF-8";

a{
    text-decoration: none;
    color: black;
}
header ul{
    display: flex;
    justify-content: end;
    list-style: none;
    text-decoration: none;
}
header ul li{
    margin-right: 60px;
    background-color:lawngreen;
    height: auto;
    border-radius: 6px;
    width: 10%;
    text-align: center;
}

header ul li:hover{
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.wrap{
    display: flex;
    justify-content:left;
    padding-left: 10%;
}
.wrap h1{
    padding-left: 5%;
}