body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header {
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a, .logout-btn a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
}

.chat-container {
    width: auto;
    margin: 50px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    max-width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    display: inline-block;
}

.left {
    background-color: #e0e0e0;
    text-align: left;
    float: left;
    clear: both;
}

.right {
    background-color: #007bff;
    color: white;
    text-align: right;
    float: right;
    clear: both;
}

.From_user_true {
    padding-top: 10px;
    text-align: left;
}

.From_user_false {
    padding-top: 10px;
    text-align: right;
}

.logout-btn {
    background-color: #E57373;
  
}
.logout-btn a{
    text-decoration: none;
}