<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約フォーム</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="button-group">
            <button class="selectable" data-group="single">一回</button>
            <button class="selectable" data-group="single">往復</button>
            <button class="selectable">定期</button>
        </div>
        <div class="form-group">
            <div class="header">予約日時</div>
            <div class="field-group">
                <label for="departure">出発：</label>
                <input type="text" id="departure">
            </div>
            <div id="transfer-container"></div>
            <button type="button" id="add-transfer">経由＋</button>
            <div class="field-group2">
                <label for="arrival">到着：</label>
                <input type="text" id="arrival">
            </div>

            <div class="weekchoices">
                <button class="selectable" id="everyday">毎日</button>
                <button class="selectable" id="week">指定週</button>
            </div>
            
            <textarea id="remarks" placeholder="備考欄"></textarea>
        </div>
        <button class="submit-button">予約</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
